# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff
*.log
staticfiles/
media/

# Node / React
frontend/node_modules/
frontend/build/
frontend/.expo/

# VS Code
.vscode/
*.code-workspace

# Environment variables
.env
